package ${packageName}.service;

import com.${project}.common.support.interfaces.IService;
import ${packageName}.model.entity.${entity_class};

/**
 * This is the class comment for the class {@link ${entity_class}Service}.
 *
 * @author ${author}
 * @since ${create_at}
 */
public interface ${entity_class}Service extends IService<${entity_class}, Long> {
}